:root {
	/* Break Screen */

	--break-main-text: #23eb00;
	--break-main-outline: #ffffff;

	--break-socials-text: #f10059;
	--break-socials-outline: #ffffff;

	/* Intermission & Omnibar */

	--feed-large-color: #eae6f3;
	--feed-large-border: #262261;

	--feed-small-color: #eae6f3;
	--feed-small-border: #262261;

	--omnibar-color: #262261;
	--omnibar-text: #ffffff;
	--omnibar-divider: #F3EC31;

	--teams-border: #262261;
	--teams-text: #262261;
	--teams-inner: #F3EC31;
	--teams-score-text: #F3EC31;
	--teams-score-inner: #262261;

	/* Commentary */ 

	--commentary-text: #a72456;
	--commentary-tag: #a72456;
	--commentary-pronouns: #eae6f3;

	/*--commentary-pronouns-outline: #000000;*/

	/* Game */
	--game-title-text: #F3EC31;
	--game-title-bg: #262261;

	--game-main-text: #262261;
	--game-main-bg: #F3EC31;

	--game-sub-text: #F3EC31;
	--game-sub-bg: #262261;

	--game-border: #b31451;

	/* Credits */

	--credits-text: #ffffff;
	--credits-bg: #000000;
}

@font-face {
    font-family: Saira;
    src: url('../../fonts/Saira_Condensed-Bold.ttf');
}

@font-face {
    font-family: 'Saira Extra';
    src: url('../../fonts/Saira_ExtraCondensed-ExtraBoldItalic.ttf');
    font-weight: bolder;
}

body {
  font-family: Saira;
  margin: 0;
}

.monospace {
  font-family: monospace;
}

* { box-sizing: border-box; }